table.frmContact, table.frmContact td{
    border: 0 none !important;
}
#container{
    position: relative;
}
.erMail{
    position: absolute;
    top: 182px;
    left: 0;
    z-index: 10;
    padding: 10px;
    background: red;
    font-weight: bold;
    width: 757px;
    color: #FFF;
}
.bggreen{
    background: green !important;
}
.frmContact{
    margin-top: 30px;
    padding-top: 10px;
}
.frmContact td{
    padding: 4px 0;
    vertical-align: middle;
    font-size: 12px;
}
.frmContact .txt{
    padding: 5px;
    width: 300px;
    outline: none;
    resize: none;
    background: #f9f9f9;
    border: 1px solid #bbb;
    border-right: 2px solid green;
    border-radius: 3px;
}

.frmContact .txt:hover{
    background: #FFF;
}
.frmContact .txt:focus{
    background: #FFF;
    border-color: #666;
}
.frmContact .area{
    height: 150px;
    width: 450px;
    font-family: verdana;
    font-size: 11px;
}
#captcha{
    width: 117px;
    height: 36px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    outline: none;
    border: 1px solid #CCC;
    border-radius: 0;
    padding: 0;
    margin-top: -4px;
}
.reload-captcha{
    position: absolute;
    top: 15px;
    left: 123px;
    width: 20px;
    height: 20px;

}
.btnSubmit{
    padding: 3px 30px;
}
.require{
    border-right: 2px solid orangered !important;
}