<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/superfish.css"/>
    <link rel="stylesheet" href="css/megafish.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/slicknav.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script data-main="js/app.js" src="js/require.js"></script>
    <title>Thy Nga</title>
</head>
<body>
<div class="thy-container">
    <div class="shadow-1">
        <div class="bg-gray">
            <div class="thy-row" id="header">
                <div id="logo" class="col">
                    <a href="#">
                        <img src="images/logo.png" alt="logo thynga"/>
                    </a>
                </div>
                <div id="banner" class="col">
                    <a href="#">
                        <img class="img-responsive" src="images/banner.jpg" alt=""/>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="thy-row">
                <ul id="menu" class="">
                    <li class="active"><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li>
                        <a href="#">Sản phẩm</a>
                        <ul class="sub-menu">
                            <li><a href="#">Sản phẩm loại 1</a></li>
                            <li><a href="#">Sản phẩm loại 2</a></li>
                            <li><a href="#">Sản phẩm loại 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
                <div class="menu-container">
                    <ul id="top-menu" class="thy-menu sf-menu">
                        <li class="active"><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li>
                            <a href="#">Sản phẩm</a>
                            <ul class="sub-menu">
                                <li><a href="#">Sản phẩm loại 1</a></li>
                                <li><a href="#">Sản phẩm loại 2</a></li>
                                <li><a href="#">Sản phẩm loại 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="thy-row">
                <div class="col-12">
                    <ul id="top-social">
                        <li><a href="#"><img src="images/skype.jpg" alt="skype"/></a></li>
                        <li><a href="#"><img src="images/yahoo.jpg" alt="yahoo"/></a></li>
                        <li><a href="#"><img src="images/facebook.jpg" alt="facebook"/></a></li>
                        <li><a href="#"><img src="images/google-plus.jpg" alt="google plus"/></a></li>
                        <li class="text">Hotline tư vấn Ms. Nga <span class="highlight highlight-1">0909 333 999</span></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="thy-row">
                <div class="center external col-4">
                    <ul id="per-slide-template"></ul>
                </div>
                <div class="col-8 float-right">
                    <div class="cycle-slideshow-2" id="main-slide"
                         data-cycle-fx="scrollHorz"
                         data-cycle-timeout="3000"
                         data-cycle-pager="#per-slide-template">
                        <div class="cycle-prev"></div>
                        <div class="cycle-next"></div>
                        <img src="images/sample-slider.jpg"
                             data-cycle-pager-template="<li><a href=#>Dầu dưỡng tóc Thy Nga</a></li>">
                        <img src="images/sample-slider.jpg"
                             data-cycle-pager-template="<li><a href=#>Trị nám thảo dược</a></li>">
                        <img src="images/sample-slider.jpg"
                             data-cycle-pager-template="<li><a href=#>Marcara dưỡng mi</a></li>">
                        <img src="images/sample-slider.jpg"
                             data-cycle-pager-template="<li><a href=#>Dầu gội thảo dược</a></li>">
                        <img src="images/sample-slider.jpg"
                             data-cycle-pager-template="<li><a href=#>Hình ảnh hoạt động</a></li>">
                        <img src="images/sample-slider.jpg"
                             data-cycle-pager-template="<li><a href=#>Giải thưởng và chứng nhận</a></li>">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="bg-white">
                <div class="col-12">
                    <div class="col-12">
                        <div class="related-news product-list">
                            <div class="bg-orange">
                                <div class="col-12">
                                    <ul>
                                        <li><a href="#">Sản phẩm dưỡng tóc</a></li>
                                        <li><a href="#">Bảo vệ tóc khỏi hư tổn hằng ngày</a></li>
                                        <li><a href="#">Làm Sạch Gàu</a></li>
                                        <li><a href="#">Sản phẩm dưỡng tóc</a></li>
                                        <li><a href="#">Bảo vệ tóc khỏi hư tổn hằng ngày</a></li>
                                        <li><a href="#">Làm Sạch Gàu</a></li>
                                        <li><a href="#">Sản phẩm dưỡng tóc</a></li>
                                        <li><a href="#">Bảo vệ tóc khỏi hư tổn hằng ngày</a></li>
                                        <li><a href="#">Làm Sạch Gàu</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                                <div class="bottom-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-12" id="san-pham">
                    <div class="col-4 item">
                        <div class="shadow-1">
                                <h3>
                                    <a href="#">Dầu dưỡng tóc 100% thảo dược</a>
                                </h3>
                                <div class="image-container">
                                    <a href="#">
                                        <img class="img-responsive" src="images/san-pham-thumb-1.jpg" alt=""/>
                                    </a>
                                </div>
                                <div class="product-meta">
                                    <div class="col-6 text-center pricing">
                                        Giá: liên hệ
                                    </div>
                                    <div class="col-6">
                                        <a href="#" class="common-read-more">Chi tiết</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-4 item">
                        <div class="shadow-1">
                            <h3>
                                <a href="#">Dầu dưỡng tóc 100% thảo dược</a>
                            </h3>
                            <div class="image-container">
                                <a href="#">
                                    <img class="img-responsive" src="images/san-pham-thumb-2.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="product-meta">
                                <div class="col-6 text-center pricing">
                                    Giá: liên hệ
                                </div>
                                <div class="col-6">
                                    <a href="#" class="common-read-more">Chi tiết</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-4 item">
                        <div class="shadow-1">
                            <h3>
                                <a href="#">Dầu dưỡng tóc 100% thảo dược</a>
                            </h3>
                            <div class="image-container">
                                <a href="#">
                                    <img class="img-responsive" src="images/san-pham-thumb-3.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="product-meta">
                                <div class="col-6 text-center pricing">
                                    Giá: liên hệ
                                </div>
                                <div class="col-6">
                                    <a href="#" class="common-read-more">Chi tiết</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-4 item">
                        <div class="shadow-1">
                            <h3>
                                <a href="#">Dầu dưỡng tóc 100% thảo dược</a>
                            </h3>
                            <div class="image-container">
                                <a href="#">
                                    <img class="img-responsive" src="images/san-pham-thumb-1.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="product-meta">
                                <div class="col-6 text-center pricing">
                                    Giá: liên hệ
                                </div>
                                <div class="col-6">
                                    <a href="#" class="common-read-more">Chi tiết</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-4 item">
                        <div class="shadow-1">
                            <h3>
                                <a href="#">Dầu dưỡng tóc 100% thảo dược</a>
                            </h3>
                            <div class="image-container">
                                <a href="#">
                                    <img class="img-responsive" src="images/san-pham-thumb-2.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="product-meta">
                                <div class="col-6 text-center pricing">
                                    Giá: liên hệ
                                </div>
                                <div class="col-6">
                                    <a href="#" class="common-read-more">Chi tiết</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-4 item">
                        <div class="shadow-1">
                            <h3>
                                <a href="#">Dầu dưỡng tóc 100% thảo dược</a>
                            </h3>
                            <div class="image-container">
                                <a href="#">
                                    <img class="img-responsive" src="images/san-pham-thumb-3.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="product-meta">
                                <div class="col-6 text-center pricing">
                                    Giá: liên hệ
                                </div>
                                <div class="col-6">
                                    <a href="#" class="common-read-more">Chi tiết</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="thy-container">
        <div class="thy-row">
            <div class="col-6">
                <p>CÔNG TY TNHH MTV THƯƠNG MẠI SẢN XUẤT MỸ PHẨM THY NGA</p>
                <p>Địa chỉ: Số 9A, Đường Gò Dầu, Phường Tân Quý, Quân Tân Phú, TP.HCM</p>
                <p>Điện thoại: (08) 2246 2807</p>
                <p>Hot line: 0918.332.139 - 0949.575.679 - 0902.411.401</p>
                <p>Email: myvienthynga@yahoo.com.vn</p>
            </div>
            <div class="col-6 text-right">
                <p>&copy; 2014. All Rights Reserved dauduongtocthynga.com</p>
                <p>Thiết kế bởi công ty ACB</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>